#bar-chart {
  background-color: rgb(155, 155, 155);
}

.title{
  margin: auto;
  text-align: center;
  white-space: nowrap;
}
#chart-title{
  width: 100%;
  display: inline-block;
}

#x-axis-title{
  width: 100%;
}

#y-axis-title{
  writing-mode: sideways-lr;
}

.title-div{
  width: 100%;
  height: 10%;
  display: flex;
}

.y-axis{
  float: left;
  width: 10%;
  height: 80%;
  margin-bottom: 10%;
  display: flex;
}

.x-axis{
  width: 90%;
  height: 10%;
  margin-left: 10%;
  display: flex;
}

.data-div{
  width: 90%;
  height: 80%;
  margin-left: 10%;
}
