#bar-chart {
  background-color: rgb(155, 155, 155);
}

.title{
  margin: auto;
  text-align: center;
  white-space: nowrap;
}
#chart-title{
  width: 100%;
  display: inline-block;
}

#x-axis-title{
  width: 100%;
}

.vertical-text{
  height: 100%;
  writing-mode: sideways-lr;
}

.title-div{
  width: 100%;
  height: 10%;
  display: flex;
}

.y-axis{
  float: left;
  width: 10%;
  height: 80%;
}

.x-axis{
  width: 90%;
  height: 10%;
  margin-left: 10%;
  display: flex;
}

.data-div{
  display: flex;
  width: 70%;
  height: 79%;
  float: left;
  border-left: 2px;
  border-bottom: 2px;
  border-top: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: black;
}

.test{
  height: 50px;
}

.y-plot{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  translate: (0,-15px);
}

.plot-text{
  width: 70%;
  font-size: x-small;
}

.dash{
  height: 2px;
  width: 30%;
  background-color: black;
}

.bar{
  margin-right: 10px;
  align-self: flex-end;
  float: left;
  background-color: blue;
}
